{% extends "layout/layout.html" %}

{% set pageId = "page-create-point" %}

{%block title%}
  <title>Create collection point</title>
{%endblock title%}

{% block styles%}
  <link rel="stylesheet" href="/styles/create-point.css">
  <link rel="stylesheet" href="/styles/modal.css">
{% endblock styles%}

{% block content%}
  {% include 'partials/page-header.html'%}
  <form action="/savepoint" method="POST">
    <h1>Collection Point Form</h1>

    <fieldset>
      <legend>
        <h2>Entity information</h2>
      </legend>

      <div class="field-group">
        <div class="field">
          <label for="name">Entity Name</label>
          <input type="text" name="name" required>
        </div>
        <div class="field">
          <label for="image">Entity Image</label>
          <input 
            type="url" 
            name="image" 
            placeholder="http://"
            required
          >
        </div>
      </div>
      

      <div class="field-group">
        <div class="field">
          <label for="address">Address</label>
          <input type="text" name="address" required>
        </div>
        <div class="field">
          <label for="address2">Number / Complement </label>
          <input type="text" name="address2" required>
        </div>
      </div>

      <div class="field-group">
        <div class="field">
          <label for="state">State</label>
          <select name="uf" required>
            <option value="">Select State</option>
          </select>
          <input type="hidden" name="state">

        </div>
        <div class="field">
          <label for="city">City</label>
          <select name="city" disabled required>
            <option value="">Select city</option>
          </select>
        </div>
      </div>

    </fieldset>

    <fieldset>
      <legend>
        <h2>What items are collected?</h2>
        <span>Select on or more items below</span>
      </legend>

      <div class="items-grid">

        <li data-id="Light Bulbs">
          <img src="/assets/lampadas.svg" alt="Light Bulbs">
          <span>Light Bulbs</span>
        </li>

        <li data-id="Batteries">
          <img src="/assets/baterias.svg" alt="Batteries">
          <span>Batteries</span>
        </li>

        <li data-id="Paper">
          <img src="/assets/papeis-papelao.svg" alt="Paper">
          <span>Paper</span>
        </li>

        <li data-id="Electronics">
          <img src="/assets/eletronicos.svg" alt="Electronics">
          <span>Electronics</span>
        </li>

        <li data-id="Organic Waste">
          <img src="/assets/organicos.svg" alt="Organic Waste">
          <span>Organic Waste</span>
        </li>

        <li data-id="Kitchen Oil">
          <img src="/assets/oleo.svg" alt="Kitchen Oil">
          <span>Kitchen Oil</span>
        </li>

      </div>

      <input type="hidden" name="items">

    </fieldset>

    <button type="submit">Create new collection point</button>

  </form>

  
  
{% endblock content %}

{% block modal%}
  {% if saved%}
    {% include "partials/point-created.html" %}
  {% endif %}
{% endblock modal%}



{% block scripts%}
  <script src="/scripts/create-point.js"></script>
{% endblock scripts%}