{% extends "layout/layout.html" %}

{% set pageId = "page-home" %}

{% block styles%}
  <link rel="stylesheet" href="/styles/home.css">
  <link rel="stylesheet" href="/styles/modal.css">
{% endblock styles%}

{% block content%}
  <div class="content">
    <header>
      <a href="/">
        <img src="/assets/logo.svg" alt="Logo">
      </a>
      
      <div class="header-right">
        <a href="/create-point">
          <span></span>
          Register new collection point
        </a>
        
          <input type="checkbox" id="switch" name="theme" />
          <label for="switch">Toggle</label>
        
      </div>
      

    </header>
    
    <main>
      <h1>Your recycling marketplace</h1>

      <p>We help people to find where to recycle!</p>

      <a href="#">
        <span></span>
        <strong>Search for collection points</strong>
      </a>
    </main>
  </div>
{% endblock content %}
  
{% block modal %}
  {% include 'partials/modal.html'%}
{% endblock modal %}

{% block scripts%}
  <script src="/scripts/index.js"></script>
  <!-- <script src="/scripts/theme.js"></script> -->
{% endblock scripts%}

