* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  /* Base */
  --bg: #f0f0f5;
  --header-color:#322153;
  --button-color: #34cb79;
  --button-hover: #2fb86e;
  
  /* Index */
  /* Form */
  --form-bg: white;
  --form-inputs: #f0f0f5;
    /* Items grid */
    --items-bg: #f5f5f5;
    --items-selected: #e1faec;
    --items-selected-border: #34cb79;
  /* Search Results */
  --search-bg: white;
  --after-bg: #f0f0f5;
  --card-p: #6c6c80;
}

html[data-theme='dark'] {
  /* Base */
  --bg: black;
  --header-color:#9669f0;
  --button-color: #34cb79;
  --button-hover: #2fb86e;
  
  /* Index */
  /* Form */
  --form-bg: white;
  --form-inputs: #f0f0f5;
    /* Items grid */
    --items-bg: #f5f5f5;
    --items-selected: #e1faec;
    --items-selected-border: #34cb79;
  /* Search Results */
  --search-bg: black;
  --after-bg: #f0f0f5;
  --card-p: white;
}

body {
  background: var(--bg);
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', sans-serif;
  color: var(--header-color);
}
